<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>source/player-idle-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-idle-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,1},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-idle-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,1},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-idle-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,1},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,35},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,35},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,35},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,35},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>source/player-run-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,35},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bomber3.png</string>
      <key>size</key>
      <string>{175,68}</string>
      <key>textureFileName</key>
      <string>bomber3</string>
    </dict>
  </dict>
</plist>
