<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>target/bomb1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb10.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb11.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb12.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb13.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb14.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb16.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb17.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb18.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb19.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb2.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,35},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb21.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb22.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb23.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb24.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb3.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb5.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb6.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb7.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb8.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>target/bomb9.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,103},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bomber5.png</string>
      <key>size</key>
      <string>{204,136}</string>
      <key>textureFileName</key>
      <string>bomber5</string>
    </dict>
  </dict>
</plist>
